*{margin:0;padding:0px;box-sizing: border-box;}
.head{
    background:#171719;
    position:fixed;
    top:0;left:0;
    width:100%; 
}
.head .wrap{
    height:50px;
    clear: both;
    width: 1200px;
     margin: 0 auto; 
}
   .head .wrap .logo{
   height:50px; width:80px;
} 
.head ul {list-style: none;
    float: left;
    position: relative; 
    text-align: center;
}
 .head li{
    float: left;
    position: relative; 
} 
.head img{
   height:44px;
   vertical-align: middle;
}
.head li a{
    text-decoration:none;
    line-height:50px;
    float: left;
    width:100px;height:50px;
    text-align: center;
    font-size:14px;
    position: relative;
    padding: 0;
    text-align:center;
    color:#c3c3c3;
     cursor: pointer; 
    font-family: 'roboto',AlienwareRegular,Arial,Helvetica,sans-serif;
}
.new ul{display:none;}
.new :hover{
 
}
  /* .new ul li {
    text-indent: 15px;
    list-style: none;
    text-align: left;
    width: 120px;
    font-size:15px;
    color:#ffffff;
    position: absolute;  */
 } 
 /*.head li .new{
    background:no-repeat 75% center;
}  */
 /* .head li.new ul, .head li.new ul li a {
    width: 150px;
    text-align: center;
    text-indent: 0;} 
     .head li.new ul {
        left: -20px;
    }  */
     /* .head li ul {
         background: #fff; 
         position: absolute;  
        left: 0;
        top: 50px;
        display: bolck; 
         z-index: 999; 
         overflow: hidden; 
        font-size:15px;
        color:black;
      
    }  */
   